@model Library.Models.Book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var imgSrc = "../../Img/No_Image_Available.png";
    if (Model.picture != null) { 
        var base64 = Convert.ToBase64String(Model.picture);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
}
<div id="wrap">
    <img class="detailsBookPicture" src="@imgSrc" />
    <div id="detailsDiv">
        <h4 id="detailsBookTitle">@Html.DisplayFor(model => model.title) </h4> &nbsp;
        <h5 id="detailsBookSeries">
            (@Html.DisplayFor(model => model.series)
            @if (Model.number != null)
            {
                <text>#</text>
                @Html.DisplayFor(model => model.number)})
        </h5>
        <h6 class="sub-title" id="detailsBookAuthor">by @Html.DisplayFor(model => model.author)</h6>
        <h6 class="sub-title" id="detailsCopies">@Html.DisplayFor(model => model.copies) copies available</h6>
    </div>
</div>
<div class="details-class">
    <div id="detailsBookSummery">
        @Html.DisplayFor(model => model.summery)
    </div>
    <p id="detailsBookPublishData">
        published at @Html.DisplayFor(model => model.publicationYear) by
        @Html.DisplayFor(model => model.publisher), @Html.DisplayFor(model => model.language)
    </p>
    <p id="detailsBookCategory">@Html.DisplayFor(model => model.category)</p>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
