<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paradise</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/paradise")
    @RenderSection("scripts", required: false)

    <script>
    jQuery(document).ready(function($) {
    $.ajax({
    url : "http://api.wunderground.com/api/fec570dea30f6169/conditions/q/autoip.json",
    dataType : "jsonp",
    success : function(parsed_json) {
        $("#weatherImg").attr('src', parsed_json.current_observation.icon_url);
        $("#temperature").html(parsed_json.current_observation.feelslike_c + '&deg;');
    }
    });
    });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="weather"><span id="temperature" style="color:white; font-size:xx-large"></span><img id="weatherImg"/></li>
                    <li class="active" id="mainParadise"><a href="#HomePage" role="tab" data-toggle="tab">PARADISE</a></li>
                    @{if (ViewBag.isAdmin)
                        {     
                            <li><a href="#admin-manage-books" role="tab" data-toggle="tab">Books</a></li>
                            <li><a href="#admin-manage-borrows" role="tab" data-toggle="tab">Borrows</a></li>
                            <li><a href="#admin-manage-borrowers" role="tab" data-toggle="tab">Borrowers</a></li>
                        }
                      else
                      {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Books<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#all-books" role="tab" data-toggle="tab">Books</a></li>
                                    <li><a href="#best-books" data-toggle="tab">Most Borrowed Books</a></li>
                                </ul>
                            </li>
                            <li><a href="#borrower-library-card" role="tab" data-toggle="tab">Library Card</a></li>
                      }
                    }
                </ul>
             </div>
        </div>
    </div>
    <div class="container body-content">
        <section id="alternate" class="col-md-10 col-md-offset-1 tab-content">
            <div id="HomePage" class="tab-pane active">
                @Html.Partial("../Home/HomePage")
            </div>
            @Html.Partial("../Readers/Readers")
            @Html.Partial("../Borrows/Borrows")
            @Html.Partial("../Books/Books")

         </section>

        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
</div>
    <hr />
<footer>
    <p>&copy; @DateTime.Now.Year - Paradise - Or Shainberg and Adi Siman Tov</p>
    
</footer>
</body>
</html>
